#cutOne{
    background-color: #00868B; /* This is a changeable color and will set the primary color for cutOne */
    max-width: 100%;
    height: 40%;
}

#cutTwo{
    background-color: transparent; /* Transparent so the background image can be seen */
    max-width: 100%;
    height: 40%;
}

#cutThree{
    background-color: #00868B; /* This is a changeable color and will set the primary color for cutThree */
    max-width: 100%;
    height: 40%;
}

#footer{
    background-color: black; /* This is a changeable color and will set the primary color for cutThree */
    max-width: 100%;
    height: 50px;
}