body{
    background-image: url("../img/background.jpg"); /* placeholder image*/
    color: white;
    background-attachment: fixed; /* This keeps the attached image fixed*/
}

img{
    max-width:100%;
    max-height:100%;
}
